/* Estilo para la vista de login centrada */
.login-body {
    display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-image {
  display: block;
  width: 120px;
  height: auto;
  margin: 0 auto 0 auto;
}

.login-subtitle {
  text-align: center;
  font-size: 1.2rem;
  color: #3e5124;
  margin-bottom: 40px;
}

.login-container {
  background-color: #ffffffdd;
  padding: 2rem 3rem;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 400px;
}

.login-container h4 {
  margin-bottom: 15px;
  color: #2f3e1d;
  text-align: left;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form input {
  padding: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  margin-bottom: 30px;
}

.login-form button {
  margin-top: 1.5rem;
  padding: 0.8rem;
  background-color: #8bdb56;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-form button:hover {
  background-color: #70be42;
}

.forgot-password {
  margin-top: 1rem;
  text-align: center;
}

.forgot-password a {
  text-decoration: none;
  color: #2f3e1d;
  font-size: 0.95rem;
  transition: color 0.2s;
  text-align: center;
}

.forgot-password a:hover {
  color: #5d9931;
}

